<section class="section">
  
    <form (ngSubmit)="showResume(form)" #form="ngForm">
      <div class="field has-addons">
        <div class="control">
          <input class="input" name="url" type="text" ngModel placeholder="Input journal URL, format: PDF">
        </div>
        <div class="control">
          <button class="button is-info">
            Search
          </button>
        </div>
      </div>
    </form>
   <br>

  <div *ngIf="loading;else loaded">
    <p>Loading...</p>
  </div>
  <div class="container">
  <ng-template  #loaded >
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>No</th>
          <th>Ringkasan</th>
        
        <tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataList.Sentenses;let i = index">
          <td>{{i+1}}</td>
          <td>{{item}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
</section>
